html {
  font: normal normal 30px "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.gameboard {
  background: #D8DAD6;
  border-radius: 0.1rem;
  margin: 1rem auto;
  position: relative;
  top: 5rem;
  left: 2.5rem;
}

.palette_cell {
  color: white;
  font-size: 5px;
  text-align: center;
  border-radius: 0.1rem;
  float: left;
  height: 0.5rem;
  margin: 0.1rem 0 0 0.1rem;
  width: 0.5rem;
}
/* slateblue */
.color6A5ACD {
  background-color: #6A5ACD !important;
}

/* tomato */
.colorFF6347 {
  background-color: #FF6347 !important;
}

/* rebeccapurple */
.color663399 {
  background-color: #663399 !important;
}

/* darkseagreen */
.color8FBC8F {
  background-color: #8FBC8F !important;
}

/* lightyellow */
.colorFFFFE0 {
  background-color: #FFFFE0 !important;
}

/* lightsteelblue */
.colorB0C4DE {
  background-color: #B0C4DE !important;
}

/* darkslategreen */
.color2F4F4F {
  background-color: #2F4F4F !important;
}

/* deepskyblue */
.color00BFFF {
  background-color: #00BFFF !important;
}

#board3x3 {
  height: 9.4rem;
  width: 9.4rem;
}

#board4x4 {
  height: 12.4rem;
  width: 12.4rem;
}

#board5x5 {
  height: 15.6rem;
  width: 15.6rem;
}

#board6x6 {
  height: 18.7rem;
  width: 18.7rem;
}

.cell {
  color: white;
  font-size: 65px;
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0.1rem;
  float: left;
  height: 3rem;
  margin: 0.1rem 0 0 0.1rem;
  width: 3rem;
}

/* Set gray background color and 100vh height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height:100vh
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
    width: 100vh;
  }
}
