html {
  font: normal normal 30px "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.gameboard {
  background: #D8DAD6;
  border-radius: 0.1rem;
  margin: 1rem auto;
  position: relative;
  top: 1rem;
  left: 2.5rem;
}

.cell {
  color: white;
  font-size: 65px;
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0.1rem;
  float: left;
  height: 3rem;
  margin: 0.1rem 0 0 0.1rem;
  width: 3rem;
}

#message {
  position: relative;
  left: 2.5rem;
  height: 1rem;
  text-align: center;
}

/* Set gray background color and 100vh height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height:100vh
}

.text-left {
  height: 100vh;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
    width: 100vh;
  }

  .gameboard, #fail {
    position: static;
  }

  form {
    display: inline-block;
  }
}
