html {
  font: normal normal 30px "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.gameboard {
  background: #D8DAD6;
  border-radius: 0.1rem;
  margin: 1rem auto;
  position: relative;
  top: 4rem;
  left: 2.5rem;
}

.palette_cell {
  color: white;
  font-size: 5px;
  text-align: center;
  border-radius: 0.1rem;
  float: left;
  height: 0.5rem;
  margin: 0.1rem 0 0 0.1rem;
  width: 0.5rem;
}

#board3x3 {
  height: 9.4rem;
  width: 9.4rem;
}

#board4x4 {
  height: 12.4rem;
  width: 12.4rem;
}

#board5x5 {
  height: 15.6rem;
  width: 15.6rem;
}

#board6x6 {
  height: 18.7rem;
  width: 18.7rem;
}

.cell {
  color: white;
  font-size: 65px;
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0.1rem;
  float: left;
  height: 3rem;
  margin: 0.1rem 0 0 0.1rem;
  width: 3rem;
}

/* Set gray background color and 100vh height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height:100vh
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
    width: 100vh;
  }
}
